@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  --font-dnSans: "DM Sans", serif;
  --color-blue-dark-001: #01326c;
  --color-blue-dark-002: #0066cb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-dnSans);
}

.pagOne,
.pagTwo,
.pagThree {
  width: 100vw;
  height: 100vh;
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.pagOne {
  background: rgb(0, 39, 66);
  background: linear-gradient(
    90deg,
    rgba(0, 39, 66, 1) 0%,
    rgba(0, 57, 87, 1) 84%,
    rgba(0, 74, 113, 1) 100%
  );
  display: flex;
  flex-direction: row;
  justify-content: right;
}

/*
   background-image: url("../img/background-one.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
*/

.pagTwo {
  background-color: cornflowerblue;
}

.pagThree {
  background-color: darkcyan;
}

.navbar {
  position: fixed;
  width: 100vw;
  height: 10%;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 3em;
  border: 1px solid red;
}

.links {
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  border: 1px solid yellow;
}
.links > ul {
  border: 1px solid green;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
}

.links > ul > li {
  border: 1px solid green;
  width: 60%;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  transition: all 400ms ease-in;
  margin-bottom: 0.1em;
  height: auto;
}
.links > ul > li:hover {
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.186);
}

.links > ul > li > a {
  border: 1px solid yellow;
  color: white;
  padding: 0.1em 0.23em;
  font-size: 1.8em;
  align-items: center;
  text-align: right;
  letter-spacing: 2px;
  width: 100%;
  height: 100%;
}

.navbar > .logo > h2 {
  text-transform: capitalize;
  font-weight: 800;
  font-size: 1.5em;
  letter-spacing: 2px;
}
.navbar > .iniciales > h2 {
  text-transform: uppercase;
  font-size: 3em;
  text-align: center;
}

.box {
  width: 0vw;
  height: 100vh;
  background-color: moccasin;
  position: fixed;
  top: 0;
  transition: all 0.5s ease-in-out;
}

.box-motion {
  width: 100vw;
}

.box-motion-two {
  left: 90vw;
}

.pagOne > .img-hero {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;

  background-position: center;
  background-repeat: no-repeat;
  background-size: 50vw;
  background-position-y: 200px;
}

.pagOne > .texto-hero {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
}
.pagOne > .texto-hero > p {
  font-size: 0.5em;
  font-weight: 100;
  margin-top: 1em;
  letter-spacing: 2px;
  line-height: 2em;
}
