@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  --font-dnSans: "DM Sans", serif;
  --color-blue-dark-001: #01326c;
  --color-blue-dark-002: #0066cb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-dnSans);
}

.pagOne,
.pagTwo,
.pagThree {
  width: 100vw;
  height: 100vh;
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.pagOne {
  background-color: #1877f2;
}

/*
   background-image: url("../img/background-one.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
*/

.pagTwo {
  background-color: cornflowerblue;
}

.pagThree {
  background-color: darkcyan;
}

.navbar {
  position: fixed;
  width: 100vw;
  height: 10%;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding:0 3em;
}

.navbar > .logo,
.navbar > .iniciales,
.navbar > .links {
  width: 33.33%;
  height: 100%;
  align-content: center;

}

.navbar > .links > ul {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: right;
}

.navbar > .links > ul > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  transition: all 400ms ease-in;
  margin: 0 0.5em;
}
.navbar > .links > ul > li:hover {
  border: 1px solid white;
}

.navbar > .links > ul > li > a {
  color: white;
  padding: 0.5em 1em;
  font-size: 1.3em;
  align-items: center;
  letter-spacing: 2px;
  width: 100%;
  height: 100%;
}

.navbar > .logo > h2 {
  text-transform: capitalize;
}
.navbar > .iniciales > h2 {
  text-transform: uppercase;
  font-size: 3em;
  text-align: center;
}

.box {
  width: 0vw;
  height: 100vh;
  background-color: moccasin;
  position: fixed;
  top: 0;
  transition: all 0.5s ease-in-out;
}

.box-motion {
  width: 100vw;
}

.box-motion-two {
  left: 90vw;
}

#tres {
  font-size: 600%;
  animation-name: head;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes head {
  0% {
    font-size: 600%;
    opacity: 1;
  }
  25% {
    font-size: 570%;
    opacity: 0;
  }
  50% {
    font-size: 600%;
    opacity: 1;
  }
  65% {
    font-size: 570%;
    opacity: 0;
  }
  80% {
    font-size: 600%;
    opacity: 1;
  }
  90% {
    font-size: 570%;
    opacity: 0;
  }
  100% {
    font-size: 600%;
    opacity: 1;
  }
}
