@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  --font-dnSans: "DM Sans", serif;
  --color-blue-dark-001: #01326c;
  --color-blue-dark-002: #0066cb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-dnSans);
}

.pagOne,
.pagTwo,
.pagThree {
  width: 100vw;
  height: 100vh;
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.pagOne {
  background-color: #1877f2;
}

/*
   background-image: url("../img/background-one.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
*/

.pagTwo {
  background-color: cornflowerblue;
}

.pagThree {
  background-color: darkcyan;
}

.navbar {
  position: fixed;
  width: 100vw;
  height: 10%;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding:0 3em;
}

.navbar > .logo,
.navbar > .iniciales,
.navbar > .links {
  width: 33.33%;
  height: 100%;
  align-content: center;

}

.navbar > .links > ul {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: right;
}

.navbar > .links > ul > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  transition: all 400ms ease-in;
  margin: 0 0.5em;
}
.navbar > .links > ul > li:hover {
  border: 1px solid white;
}

.navbar > .links > ul > li > a {
  color: white;
  padding: 0.5em 1em;
  font-size: 1.3em;
  align-items: center;
  letter-spacing: 2px;
  width: 100%;
  height: 100%;
}

.navbar > .logo > h2 {
  text-transform: capitalize;
  font-weight: 800;
  font-size: 1.5em;
  letter-spacing: 2px;
}
.navbar > .iniciales > h2 {
  text-transform: uppercase;
  font-size: 3em;
  text-align: center;
}

.box {
  width: 0vw;
  height: 100vh;
  background-color: moccasin;
  position: fixed;
  top: 0;
  transition: all 0.5s ease-in-out;
}

.box-motion {
  width: 100vw;
}

.box-motion-two {
  left: 90vw;
}

.pagOne>.img-hero{

    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-image: url("../img/photo-two.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50vw;
    background-position-y: 200px;

}

.pagOne>.texto-hero{

    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;

}
.pagOne>.texto-hero>p{
   font-size: 0.5em;
   font-weight: 100;
   margin-top: 1em;
   letter-spacing: 2px;
   line-height: 2em;

}